n8n/workflows/push-workflow-3-checkin-followup.json
{
  "name": "MaiTribe - Push WF3 Check-in Follow-up",
  "nodes": [
    {
      "id": "wf3-cron",
      "name": "Cron Every 15 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-1160, 260],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      }
    },
    {
      "id": "wf3-select",
      "name": "Select Low Check-ins",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-940, 260],
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  c.id as checkin_id,\n  c.user_id,\n  c.body,\n  c.mind,\n  c.soul,\n  c.energy,\n  c.note,\n  c.created_at,\n  u.language,\n  u.timezone,\n  u.push_token\nfrom public.checkins c\njoin public.users u on u.id = c.user_id\nwhere c.created_at > now() - interval '75 minutes'\n  and (c.body < 4 or c.mind < 4 or c.soul < 4)\n  and u.push_token is not null\n  and not exists (\n    select 1\n    from public.reminders r\n    where r.user_id = c.user_id\n      and r.variation_type = 'checkin_followup'\n      and r.scheduled_for > c.created_at\n      and r.scheduled_for < c.created_at + interval '2 hours'\n  );",
        "options": {}
      }
    },
    {
      "id": "wf3-build",
      "name": "Build Prompt + Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 260],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $json;\n\nconst pairs = [\n  { k: 'body', v: Number(row.body) },\n  { k: 'mind', v: Number(row.mind) },\n  { k: 'soul', v: Number(row.soul) },\n  { k: 'energy', v: Number(row.energy) }\n].sort((a, b) => a.v - b.v);\n\nconst lowest = pairs[0];\nconst isDe = String(row.language || 'en').toLowerCase() === 'de';\n\nconst labelDe = { body: 'Koerper', mind: 'Mind', soul: 'Soul', energy: 'Energie' };\nconst labelEn = { body: 'body', mind: 'mind', soul: 'soul', energy: 'energy' };\nconst focus = isDe ? labelDe[lowest.k] : labelEn[lowest.k];\n\nconst fallback = isDe\n  ? `Ich sehe, dass dein ${focus} heute viel traegt. Magst du einen kleinen, sanften Moment nur fuer dich nehmen?`\n  : `I can see your ${focus} is carrying a lot today. Would one gentle moment for yourself help right now?`;\n\nconst prompt = isDe\n  ? `Du bist Mai. Schreibe eine kurze, fuer-sorgliche Follow-up Nachricht auf Deutsch nach einem schwierigen Check-in. Werte: Body ${row.body}/10, Mind ${row.mind}/10, Soul ${row.soul}/10, Energy ${row.energy}/10. Optionaler Text: ${row.note || 'none'}. Regeln: 1-2 Saetze, max 28 Woerter, warm und nicht klinisch, keine Tipps-Liste, mit einer sanften Frage enden. Nur finalen Text ausgeben.`\n  : `You are Mai. Write a short caring follow-up after a difficult check-in. Scores: Body ${row.body}/10, Mind ${row.mind}/10, Soul ${row.soul}/10, Energy ${row.energy}/10. Optional note: ${row.note || 'none'}. Rules: 1-2 sentences, max 28 words, warm and non-clinical, no tips list, end with one gentle question. Return final text only.`;\n\nlet subscription = null;\ntry { subscription = typeof row.push_token === 'string' ? JSON.parse(row.push_token) : row.push_token; } catch (e) { subscription = null; }\n\nconst sqlLiteral = (v) => `'${String(v || '').replace(/'/g, \"''\")}'`;\n\nreturn [{ json: { ...row, prompt, fallback_text: fallback, subscription, variation_sql: sqlLiteral('checkin_followup') } }];"
      }
    },
    {
      "id": "wf3-has-sub",
      "name": "Has Push Subscription",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-500, 260],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.subscription }}"
            }
          ]
        }
      }
    },
    {
      "id": "wf3-gemini",
      "name": "Gemini Follow-up Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [-280, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ role: 'user', parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.75, topP: 0.9, maxOutputTokens: 100 } } }}",
        "options": {}
      }
    },
    {
      "id": "wf3-merge",
      "name": "Merge Gemini + Payload",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [-60, 260],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "wf3-finalize",
      "name": "Finalize Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 260],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const extract = (obj) => {\n  if (!obj) return '';\n  if (obj.candidates && obj.candidates[0] && obj.candidates[0].content && Array.isArray(obj.candidates[0].content.parts)) {\n    return obj.candidates[0].content.parts.map((p) => p.text || '').join('\\n').trim();\n  }\n  if (obj.body && obj.body.candidates && obj.body.candidates[0] && obj.body.candidates[0].content && Array.isArray(obj.body.candidates[0].content.parts)) {\n    return obj.body.candidates[0].content.parts.map((p) => p.text || '').join('\\n').trim();\n  }\n  return '';\n};\n\nlet text = extract($json);\nif (!text) text = $json.fallback_text;\nif (text.length > 220) text = `${text.slice(0, 217)}...`;\n\nconst sqlLiteral = (v) => `'${String(v || '').replace(/'/g, \"''\")}'`;\n\nreturn [{ json: { ...$json, followup_text: text, content_sql: sqlLiteral(text) } }];"
      }
    },
    {
      "id": "wf3-push",
      "name": "Send Push via Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [380, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/functions/v1/send-push' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { userId: $json.user_id, subscription: $json.subscription, title: 'MaiTribe', body: $json.followup_text, data: { type: 'checkin_followup', checkinId: $json.checkin_id } } }}",
        "options": {}
      }
    },
    {
      "id": "wf3-mark-sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 180],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sent = !$json.error;\nreturn [{ json: { ...$json, sent } }];"
      }
    },
    {
      "id": "wf3-log-sent",
      "name": "Insert Reminder (Sent Path)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [820, 180],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"insert into public.reminders (user_id, type, content, variation_type, scheduled_for, sent, sent_at, delivery_method) values ('\" + $json.user_id + \"', 'custom', \" + $json.content_sql + \", \" + $json.variation_sql + \", now(), \" + ($json.sent ? 'true' : 'false') + \", \" + ($json.sent ? 'now()' : 'null') + \", 'push');\" }}",
        "options": {}
      }
    },
    {
      "id": "wf3-mark-nosub",
      "name": "Mark Skipped (No Subscription)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-280, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sqlLiteral = (v) => `'${String(v || '').replace(/'/g, \"''\")}'`;\nreturn [{ json: { ...$json, followup_text: $json.fallback_text, content_sql: sqlLiteral($json.fallback_text), sent: false } }];"
      }
    },
    {
      "id": "wf3-log-nosub",
      "name": "Insert Reminder (Skipped Path)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-60, 360],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"insert into public.reminders (user_id, type, content, variation_type, scheduled_for, sent, sent_at, delivery_method) values ('\" + $json.user_id + \"', 'custom', \" + $json.content_sql + \", \" + $json.variation_sql + \", now(), false, null, 'push');\" }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron Every 15 Minutes": {
      "main": [[{ "node": "Select Low Check-ins", "type": "main", "index": 0 }]]
    },
    "Select Low Check-ins": {
      "main": [[{ "node": "Build Prompt + Fallback", "type": "main", "index": 0 }]]
    },
    "Build Prompt + Fallback": {
      "main": [[{ "node": "Has Push Subscription", "type": "main", "index": 0 }, { "node": "Merge Gemini + Payload", "type": "main", "index": 0 }]]
    },
    "Has Push Subscription": {
      "main": [
        [{ "node": "Gemini Follow-up Text", "type": "main", "index": 0 }],
        [{ "node": "Mark Skipped (No Subscription)", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Follow-up Text": {
      "main": [[{ "node": "Merge Gemini + Payload", "type": "main", "index": 1 }]]
    },
    "Merge Gemini + Payload": {
      "main": [[{ "node": "Finalize Follow-up", "type": "main", "index": 0 }]]
    },
    "Finalize Follow-up": {
      "main": [[{ "node": "Send Push via Edge Function", "type": "main", "index": 0 }]]
    },
    "Send Push via Edge Function": {
      "main": [[{ "node": "Mark Sent", "type": "main", "index": 0 }]]
    },
    "Mark Sent": {
      "main": [[{ "node": "Insert Reminder (Sent Path)", "type": "main", "index": 0 }]]
    },
    "Mark Skipped (No Subscription)": {
      "main": [[{ "node": "Insert Reminder (Skipped Path)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "wf3-push-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
