n8n/workflows/push-workflow-1-morning-identity.json
{
  "name": "MaiTribe - Push WF1 Morning Identity Reminder",
  "nodes": [
    {
      "id": "wf1-cron",
      "name": "Cron Every 5 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-1000, 220],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      }
    },
    {
      "id": "wf1-select",
      "name": "Select Due Users + Identity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-780, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "with due_users as (\n  select\n    u.id as user_id,\n    u.language,\n    u.timezone,\n    u.push_token,\n    u.morning_reminder_time\n  from public.users u\n  where u.onboarding_completed = true\n    and u.morning_reminder_enabled = true\n    and u.push_token is not null\n    and ((now() at time zone u.timezone)::time >= u.morning_reminder_time)\n    and ((now() at time zone u.timezone)::time < (u.morning_reminder_time + interval '5 minutes'))\n    and not exists (\n      select 1\n      from public.reminders r\n      where r.user_id = u.id\n        and r.type = 'morning_identity'\n        and (r.scheduled_for at time zone u.timezone)::date = (now() at time zone u.timezone)::date\n    )\n)\nselect\n  d.user_id,\n  d.language,\n  d.timezone,\n  d.push_token,\n  i.full_text,\n  i.one_liner,\n  i.sentences\nfrom due_users d\nleft join lateral (\n  select full_text, one_liner, sentences\n  from public.identities\n  where user_id = d.user_id and is_active = true\n  order by created_at desc\n  limit 1\n) i on true;",
        "options": {}
      }
    },
    {
      "id": "wf1-build",
      "name": "Build Rotation Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 220],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $json;\n\nlet subscription = null;\ntry {\n  subscription = typeof row.push_token === 'string' ? JSON.parse(row.push_token) : row.push_token;\n} catch (e) {\n  subscription = null;\n}\n\nconst full = String(row.full_text || '').trim();\nlet sentences = row.sentences;\nif (typeof sentences === 'string') {\n  try { sentences = JSON.parse(sentences); } catch (e) { sentences = []; }\n}\nif (!Array.isArray(sentences)) sentences = [];\n\nconst oneLiner = String(row.one_liner || sentences[0] || full || '').trim();\nconst hash = [...String(row.user_id || '')].reduce((a, c) => a + c.charCodeAt(0), 0);\nconst day = Math.floor(Date.now() / 86400000);\nconst variation = ['A','B','C','D','E'][(hash + day) % 5];\nconst isDe = String(row.language || 'en').toLowerCase() === 'de';\n\nconst q = isDe ? 'Was ist heute ein kleiner, echter Schritt?' : 'What is one small, honest step today?';\nconst body = isDe ? 'Spuer in deinen Koerper: Was braucht heute Aufmerksamkeit?' : 'Check your body: what needs gentle attention today?';\nconst anchor = isDe ? 'Ein Atemzug. Dieser Moment ist genug.' : 'One breath. This moment is enough.';\nconst dream = isDe ? 'Welcher kleine Schritt bringt deinen Traum naeher?' : 'What small step brings your dream closer?';\n\nlet text = oneLiner || full || (isDe ? 'Du darfst sanft mit dir sein.' : 'You are allowed to be gentle with yourself.');\nif (variation === 'A') text = full || text;\nif (variation === 'B') text = `${text} ${q}`;\nif (variation === 'C') text = `${text} ${body}`;\nif (variation === 'D') text = `${text} ${anchor}`;\nif (variation === 'E') text = `${text} ${dream}`;\nif (text.length > 240) text = `${text.slice(0, 237)}...`;\n\nconst sqlLiteral = (v) => `'${String(v || '').replace(/'/g, \"''\")}'`;\n\nreturn [{ json: { ...row, subscription, variation, reminder_text: text, content_sql: sqlLiteral(text), variation_sql: sqlLiteral(variation) } }];"
      }
    },
    {
      "id": "wf1-has-sub",
      "name": "Has Push Subscription",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-340, 220],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.subscription }}"
            }
          ]
        }
      }
    },
    {
      "id": "wf1-push",
      "name": "Send Push via Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [-120, 120],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/functions/v1/send-push' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { userId: $json.user_id, subscription: $json.subscription, title: 'MaiTribe', body: $json.reminder_text, data: { type: 'morning_identity', variation: $json.variation } } }}",
        "options": {}
      }
    },
    {
      "id": "wf1-mark-sent",
      "name": "Mark Sent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 120],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sent = !$json.error;\nreturn [{ json: { ...$json, sent, push_error: sent ? null : JSON.stringify($json.error || {}) } }];"
      }
    },
    {
      "id": "wf1-mark-nosub",
      "name": "Mark Skipped (No Subscription)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 320],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { ...$json, sent: false, push_error: 'no_subscription' } }];"
      }
    },
    {
      "id": "wf1-log-sent",
      "name": "Insert Reminder (Sent Path)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [320, 120],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"insert into public.reminders (user_id, type, content, variation_type, scheduled_for, sent, sent_at, delivery_method) values ('\" + $json.user_id + \"', 'morning_identity', \" + $json.content_sql + \", \" + $json.variation_sql + \", now(), \" + ($json.sent ? 'true' : 'false') + \", \" + ($json.sent ? 'now()' : 'null') + \", 'push');\" }}",
        "options": {}
      }
    },
    {
      "id": "wf1-log-nosub",
      "name": "Insert Reminder (Skipped Path)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [320, 320],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"insert into public.reminders (user_id, type, content, variation_type, scheduled_for, sent, sent_at, delivery_method) values ('\" + $json.user_id + \"', 'morning_identity', \" + $json.content_sql + \", \" + $json.variation_sql + \", now(), false, null, 'push');\" }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron Every 5 Minutes": {
      "main": [[{ "node": "Select Due Users + Identity", "type": "main", "index": 0 }]]
    },
    "Select Due Users + Identity": {
      "main": [[{ "node": "Build Rotation Payload", "type": "main", "index": 0 }]]
    },
    "Build Rotation Payload": {
      "main": [[{ "node": "Has Push Subscription", "type": "main", "index": 0 }]]
    },
    "Has Push Subscription": {
      "main": [
        [{ "node": "Send Push via Edge Function", "type": "main", "index": 0 }],
        [{ "node": "Mark Skipped (No Subscription)", "type": "main", "index": 0 }]
      ]
    },
    "Send Push via Edge Function": {
      "main": [[{ "node": "Mark Sent Result", "type": "main", "index": 0 }]]
    },
    "Mark Sent Result": {
      "main": [[{ "node": "Insert Reminder (Sent Path)", "type": "main", "index": 0 }]]
    },
    "Mark Skipped (No Subscription)": {
      "main": [[{ "node": "Insert Reminder (Skipped Path)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "wf1-push-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
